/* GLobal styles */

body {
  margin: 0;
  
}
/* navBar styles */
nav {
  width: 100%;
  height: auto;
  padding: 20px;
  background: red;
  position: fixed;
  top: 0;

  
  
}

ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

ul li
{
    list-style-image: url("/css/images/knight.svg");
    background-size: 40px;
}

.active {
    list-style-image: url("/css/images/knightActive.svg");
}

ul li a {
    color: white;
    text-decoration: none;
    
}

/* Landing Page styles */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
section {
  width: 70%;
  height: 80vh;
  margin: 5em;
   scroll-margin-top: 5em; /*fix for fixed bar not overlapping  */
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.4);
  border: black solid 2px;
}

