/* navBar styles */
body {
  margin: 0;
}
/* navBar styles */
nav {
  width: 100%;
  height: auto;
  padding: 20px;
  background: rgb(244, 244, 244);
  background: linear-gradient(
    0deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(179, 0, 36, 0.7539390756302521) 7%,
    rgba(179, 0, 36, 1) 100%
  );
  position: fixed;
  top: 0;
  
}

ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

ul li a {
    color: white;
}

/* Landing Page styles */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section {
  width: 70%;
  height: 80vh;
  margin: 5em;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.4);
  border: black solid 2px;
}

.section {
    scroll-margin-top: 5em;
}
